/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /*圖片垂直對齊該行文字的置中位置*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrap {
  position: relative;
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  min-height: 1000px;
}

.mobile-close {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  margin-left: 15px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.aside .nikelogo {
  float: left;
  background-color: rgb(255, 253, 253);
  width: 56px;
  height: 56px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid rgba(3, 3, 3, 0.76);
  cursor: pointer;
  transition: all .3s;
}

.aside .nikelogo:hover {
  background-color: rgb(245, 52, 52);
}

.mobile-link {
  background: white;
  color: #fff;
  padding: 5px;
  display: inline-block;
  margin: .3em;
  text-decoration: none;
}

.mobile-link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: 1px;
  
  cursor: pointer;
  display: none;
}

.mobile-link>span {
  display: block;
  width: 36px;
  height: 2px;
  background-color: black;
  position: absolute;
  opacity: 1;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  transition: all 0.3s;
}

.mobile-link>span:nth-child(1) {
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/*最下面線*/

.mobile-link>span:nth-child(3) {
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

@media(max-width: 768px) {
  .mobile-link {
    display: inline-block;
  }
}

.main {
  transition: all 0.3s;
}

.header {
  max-height: 50px;
  border-bottom: 1px solid rgba(214, 211, 211, 0.76);
  margin-bottom: 1em;
  position: relative;
}

.header .menu {
  float: right;
}

.open .header .menu {
  display: none;
}

@media(max-width:767px) {
  .header {
    position: fixed;
    width: 100%;
    background: #fff;
  }
}

.menu .discountwords {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(240, 59, 59);
}

@media(max-width:767px) {
  .menu .discountwords {
    display: none;
  }
}

.accountlogo img {
  width: 14px;
  height: 16px;
}

.shooplogo img {
  width: 17px;
  height: 17px;
}

.Lgelogo img {
  width: 15px;
  height: 15px;
}

.header .menu li {
  float: left;
}

.header .menu li a {
  font-size: 13px;
  color: rgb(124, 124, 124);
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  display: block;
  transition: all .8s;
  padding: 0.8em;
  cursor: pointer;
}

.header .menu li a:hover {
  color: rgb(19, 17, 17);
  font-weight: bold;
  transition: all .3s;
}

.header::after {
  clear: both;
  content: '';
  display: table;
}

.aside {
  position: absolute;
  /*上下滿版*/
  top: 0;
  bottom: 0;
  width: 260px;
  height: 100%;
  background: rgb(151, 151, 149);
  overflow: hidden;
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
  transition: all .3s;
  z-index: 200;
}

/*增加 class open 觸發選單*/

.open .main {
  -webkit-transform: translateX(270px);
  transform: translateX(270px);
}

.open .aside {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.aside .menu li {
  margin: 1em;
  color: #fff;
  width: 100%px;
}

.aside .menu li a {
  color: #fff;
  padding: 1em;
  display: block;
  border: 1px solid rgb(24, 23, 23);
  font-family: fantasy;
  font-size: 16px;
  color: #070806;
}

.aside .menu .section_items a:hover {
  color: #050505;
  background: white;
  transition: all .4s;
}

.aside .menu .section_header {
  background: #161a12;
  font-weight: bold;
}

.aside .menu .section_header a {
  color: #FFF;
}

.rightsrh {
  padding: 1em;
  position: relative;
}

@media(max-width:767px) {
  .rightsrh {
    display: none;
  }
}

.rightsrh p {
  margin-bottom: 1em;
}

.serch form {
  width: 110px;
}

.serch {
  float: right;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.serch i {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
  margin-right: 2px;
  margin-top: 2px;
}

.serch option {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 5px 8px;
  width: auto;
  height: auto;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
  opacity: 0.8;
  margin-left: 4px;
}

.serch input {
  border: 1px solid rgb(255, 254, 254);
  width: 58px;
  height: 19px;
  outline: none;
  margin-bottom: 1px;
}

@media(max-width:767px) {
  .serch {
    margin-top: 2.2em;
    margin-right: 1em;
  }
  .serch input {
    width: 75px;
    height: 19px;
  }
  .serch form {
    background: rgb(255, 254, 254);
    border-radius: 30px;
  }
}


.main:after {
  clear: both;
  content: '';
  display: table;
}

.contentlogo .bearphoto {
  background-image: url(../images/bearphoto.png);
  width: 142px;
  height: 184px;
  margin: 1em auto;
  cursor: pointer;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media(max-width:767px) {
  .contentlogo .bearphoto {
    margin-top: 4.5em;
  }
}

.selectbar {
  border-top: 4px double #d3d3d3;
  border-bottom: 4px double #d3d3d3;
}

.content {
  text-align: center;
}

.content .selectbar {
  display: inline-block;
  margin-top: 1em;
}

.content .selectbar li {
  float: left;
}

.content .selectbar li a {
  display: block;
  font-family: fantasy;
  margin: 1px 1.5em;
  padding: 5px 20px;
  color: rgb(75, 74, 74);
  border-bottom: 1px solid #FFF;
}

.content .selectbar li a:hover {
  color: rgb(130, 168, 6);
  transition: all .35s;
}

.newitemsphoto {
  background-image: url(../images/newitemspho.png);
  max-width: 543px;
  height: 290px;
  margin: 2.5em auto;
  position: relative;
}

@media(max-width:767px) {
  .newitemsphoto {
    display: none;
  }
  .content .selectbar li {
    width: 98%;
    margin-bottom: 1em;
    float: left;
    font-size: 35px;
  }
}

.newitemsphoto h2 {
  position: absolute;
  top: 7%;
  left: 15%;
}

.newitemsphoto h2 a {
  font-family: fantasy;
  color: rgb(8, 8, 8);
  font-size: 20px;
}

.newitemsphoto h2 a:hover {
  color: white;
}

.newitemsphoto h2 .gonewitems {
  width: 20px;
  height: 30px;
}

.newitemsphoto h2 .gonewitems:hover {
  background: #aef35f;
  cursor: pointer;
  border-radius: 50%;
}

.content:after {
  clear: both;
  content: '';
  display: table;
}

.container {
  text-align: center;
  height: auto;
}

.container h3 {
  color: #626262;
  font-family: 微軟正黑體, Microsoft JhengHei;
  font-size: 36px;
  line-height: initial;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.container .customer_space {
  display: inline-block;
  font-family: 微軟正黑體, Microsoft JhengHei;
  font-size: 22px;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

.container .customer_space li {
  float: left;
  margin: 1em;
  box-shadow: 1px 1px 8px 1px grey;
}

.container .customer_space img {
  border-bottom: 1px solid rgb(182, 180, 180);
}

.container .customer_space img:hover {
  box-shadow: 1px 1px 8px 1px rgb(153, 152, 152);
  cursor: pointer;
}

.container .customer_space li h4, .customer_space li p {
  margin: 0.65em 0;
  text-align: center;
  font-weight: bold;
  color: #333232;
  font-size: 18px;
  width: 100%;
}

.container .customer_space li span {
  color: #0394ee;
  font-size: 18px;
  padding: 15px;
}

.container .customer_space li span:hover {
  color: rgba(250, 33, 33, 0.808);
  cursor: pointer;
}

@media(max-width:767px) {
  .container .customer_space li {
    float: none;
    width: 98%;
    margin: 1em auto;
  }
}

.container:after {
  clear: both;
  content: '';
  display: table;
}

/*footer*/

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #0e0c0c;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  padding: 0px 20px 20px 50px;
}

.footer .col h5 {
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  letter-spacing: 0.250em;
  text-transform: uppercase;
  /*字體大寫*/
}

.footer .col ul li{
  margin: 10px 0 10px 0;
}

.footer .col ul li a{
  color: #999999;
  font-size: 14px;
  font-family: 微軟正黑體, Microsoft JhengHei;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li {
  float: left;
  margin-right: 1em;
}

.footer .col ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.contain{
  position: relative;
}
.footer .social{
  position: absolute;
  top:0;
  right:0;
}

.footer .social img {
  border-radius: 100%;
  cursor: pointer;
  margin-right: 8.5px; 
}

@media(max-width: 767px){
  .footer .social{
    position: inherit;/*繼承自父層 position 定位屬性的值。*/
  }
}

.footer:after {
  clear: both;
  display: table;
  content: '';
}

@media(max-width: 500px) {
  .footer .col {
    width: 50%;
  }
}

@media(max-width: 375px) {
  .footer .col {
    width: 100%;
  }
}

.contain:after {
  clear: both;
  content: '';
  display: table;
}

.footer_endline {
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 5px 0;
}

.footer_endline p {
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  color: rgb(153, 153, 153);
  padding: 19px 0;
}

/*常看到拍賣網站把漢堡選單固定在最上面，在業界這樣的設計手法是不是比較普遍一點*/